<?xml version="1.0"?>
<configuration>
    <appSettings>
      <add key="fecha" value="2016-07-05 00:00:00"/>
    </appSettings>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GDD.Properties.Settings.GD1C2016ConnectionString" connectionString="Data Source=localhost\SQLSERVER2012;Initial Catalog=GD1C2016;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
